<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <main>
            <div>
                <h1>{{ tasks.name }}</h1>
                <p>
                    <a href="{% url 'edit_list' tasks.id %}">Edit</a>
                </p>
                <p>
                    <a href="{% url 'delete_list' tasks.id %}">Delete</a>
                </p>
                <h2>Tasks</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Task</th>
                            <th>Due date</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for task in tasks.items.all %}
                            <tr>
                                <td>
                                    <a href="{% url 'update_item' task.id %}">{{ task.task }}</a>
                                </td>
                                <td>{{ task.due_date }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </main>
    </body>
</html>
